/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 35px;
    background-color: darkgray;
   


}
.wrapper i:first-child{
    left: -23px;
}

.wrapper i:last-child{
    right: -23px;
}

.wrapper {
    max-width: 1200px;
    position: relative;
}
.wrapper i{
   
  background: #fdfcfc;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  line-height: 46px;
  border-radius: 50%;
  height: 46px;
  width: 46px;
  position: absolute;
  top:50%;
  transform: translateY(-50%);;
    

}


.wrapper .carousel{
    white-space: nowrap;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;;
}
.carousel img{
    height: 340px;
    object-fit: cover;
    width: calc(100%/3);
    margin-left: 14px;

}
.carousel img :first-child{

    margin-left: 0px;
}

@media screen and (max-width: 900px) {
   .carousel img{
    width: calc(100% /2);
   }
    
}

@media screen and (max-width: 550px) {
    .carousel img{
     width: 100%;
    }
     
 }